:root {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter var", sans-serif;
    }
}

body {
    background-color: black;
    color: white;
    font-weight: bold;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-weight: inherit;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 18rem;
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

button:active {
    background-color: lightgrey;
}

#search {
    border: 1px solid grey;
}
